= search_form_for @query, :url => search_customers_path, :html => { :method => :post } do |f|
  = field_set_tag 'Search' do
    .splitContainer
      %dl.half
        %dt= f.label :first_name_or_last_name_or_company_cont, 'First or Last Name'
        %dd= f.text_field :first_name_or_last_name_or_company_cont, :class => 'text'
      %dl.half
        %dt= f.label :company_cont, 'Company'
        %dd= f.text_field :company_cont, :class => 'text'
    .splitContainer
      %dl.half
        %dt= f.label :email_cont, 'Email Address'
        %dd= f.text_field :email_cont, :class => 'text'
      %dl.half
        %dt= f.label :phone_cont, 'Phone Number'
        %dd= f.text_field :phone_cont, :class => 'text'
    .splitContainer
      %dl
        %dt= f.submit 'Search', :class => 'button green button'